
# Sensitive Python variables
*.env
.env

# Humanforce credentials
secrets.py

# Google API OAuth files
credentials.json
token.json

# __pycache__ and other Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Downloads folder (optional)
downloads/

# OS-specific files
.DS_Store
Thumbs.db

import.py
